@font-face {
    font-family: Outfit;
    src: local('../fonts/Outfit.ttf'), url('../fonts/Outfit.ttf') format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}
.main{
    display: flex;
    flex-direction: column;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
ul{
    display: flex;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    background-color: #0F0F0F;
    
}
li {
    list-style: none;
    font-family: Outfit;
}

.about{
    background-color: #A2FF86;
    padding: 8px;
    border-radius: 1.8rem;
    cursor: pointer;    
    color: black;
}
.services, .home, .projects, .contact{
    color: white;
    background-color: #0F0F0F;
    padding: 8px;
    border-radius: 1.8rem;
}

.services:hover{
    background-color: #A2FF86;
    transition: 0.3s ease-in;
    color: black;
    cursor: pointer;
}
.home:hover{
    background-color: #A2FF86;
    transition: 0.3s ease-in;
    color: black;
    cursor: pointer;
}
.projects:hover{
    background-color: #A2FF86;
    transition: 0.3s ease-in;
    color: black;
    cursor: pointer;
}
.contact:hover{
    background-color: #A2FF86;
    transition: 0.3s ease-in;
    color: black;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #0F0F0F;
    width: 100%;
    height: 80px;
    z-index: 9999;
}
.DevskiLogo{
    object-fit: contain;
    width: 130px;
    margin-left: 100px;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: #0F0F0F;
}
.teamText{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.teamText h2{
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: center;
    color: #94e97b;
    text-wrap: balance;
}
.teamText h1{
    font-family: Outfit;
    font-size: 48px;
    font-weight: 700;
    line-height: 62.4px;
    width: 60%;
    padding: 20px;
    margin-left: 20%;
    text-align: center;
    color: #18191C;
    text-wrap: balance;
}
.teamText hr{
    margin-top: 10px;
    width: 10%;
    border-width: 1.6px solid #6F7174;
    margin-left: 45%;
}
.pictureRow1, .pictureRow2{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.pictureRow2{
    margin-top: 180px;
}
.Maryam{
    background: linear-gradient(90deg, #0A0A0A 0%, #0B0B0B 35.35%, #080808 58.13%, #090909 100%);
    width: 35%;
    height: 500px;
    gap: 0px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Maryam h1{
    font-family: Outfit;
    font-size: 35.76px;
    font-weight: 700;
    line-height: 46.48px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}
.Maryam h2{
    font-family: Outfit;
    font-size: 20.86px;
    font-weight: 400;
    line-height: 35.46px;
    text-align: center;
    color: #C8CFD5;
}
.maryamPic{
    width: 80%;
}
.saudPic, .usaidPic, .shaheerPic{
    width: 90%;
}
.shaheerPic{
    object-fit: contain;
}
.maryamPic, .saudPic, .usaidPic{
    object-fit: cover;
}
.maryamPic, .saudPic, .shaheerPic, .usaidPic{
    margin-top: 20px;
    height: 460px;
    padding: 5px;
    border-radius: 20px;
}
.Maryam button{
    border-style: none;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    margin-top: -50px;
}
.socialAccounts{
    background-color: #1F1F1F;
    padding: 20px;
    gap: 22px;
    position: absolute;
    margin-top: 27%;
    border-radius: 12px;
    display: none;
    transform: translateY(10%);
}
.linkedin, .instagram{
    object-fit: contain;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.socialbtn{
    object-fit: contain;
    height: 80px;
}
.expandSocials{
    object-fit: contain;
    height: 80px;
    margin-top: -36px;
    display: none;
    cursor: pointer;
}
.Maryam:hover .expandSocials{
    transition: 0.5s ease-in-out;
    display: block;
}
.Maryam:hover .socialAccounts{
    transition: 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    transform: translateY(0);
}


.CardButton{
    display: flex;
    width: 250px;
    padding: 19px 31px 17px 31px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    background: #A2FF86;
    font-family: outfit;
    display: flex;
    gap: 5px;
    border-style: solid;
    border-color: #A2FF86;
    border-radius: 8px;
    border-width: 1.2px;
}
.CardButton:hover{
    transform: scale(1.03);
    transition: 0.2s ease-in;
    background-color: transparent;
    color: white;
}
 .FooterMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:125px;
    width: 100%;
    height: fit-content;
    padding-top: 80px;
    flex-shrink: 0;
    background-image: url('../Images/WavyDesign.png');
    background-color: #0F0F0F;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 300px;
}
.EveryFooterDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AllColumn{
    display: flex;
    align-items: center;
    width: 90%;
    height: fit-content;

}
.MiddleColumn{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap:20px;
}
.MiddleColumn h1{
    color: white;
    font-family: Arial;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: fit-content;
}
.MiddleColumn p{
    color: white;
    font-family: Outfit;
    font-size: 18px;
    text-wrap: balance;
    text-align: left;
    font-weight: 400;
    line-height: normal;
    width: 50%;
}
.LeftColumn{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.LeftColumn h1{
    color: white;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.LeftColumn h4{
    color: white;
    margin-top: 20px;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.LeftColumn h2,h3,h5,h6{
    color: white;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.FooterHeading{
    justify-content:center;
    display: flex;
}
.WorkTogether{
    width: 100%;
}
.ThinLine{
    display: flex;
    gap: 400px;
    justify-content: flex-end;
    width: 100%;
    margin-top: 2%;
}
.SocialMedia{
    width: 19%;
    height: fit-content;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    cursor: pointer;
}
.SocialMedia img{
    object-fit: cover;
    height: 32px;
}
@media (max-width: 1080px) {
    .servicesContent button{
        padding: 50px;
    }
    #number1,#number2,#number3,#number4{
        font-size: 2.6vmax;
    }
    .FooterMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-size:cover;
        background-position: center;
        margin-top: 500px;
    }

    .EveryFooterDiv {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 8%;
        width: 100%;
        height: fit-content;
    }

    .AllColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
    }
    .LeftColumn {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .LeftColumn h1 {
        font-size: 16px; 
    }
    .LeftColumn h2{
        font-size: 14px;
    }
    .LeftColumn h3{
        font-size: 14px;
    }
    .LeftColumn h5{
        font-size: 14px;
    }
    .LeftColumn h6 {
        font-size: 14px; 
    }

    .MiddleColumn {
        text-align: center;
        width: 100%;
        gap: 16px; /* Reduced gap for better spacing */
    }

    .MiddleColumn h1 {
        font-size: 24px; /* Slightly smaller to fit better on mobile */ 
        text-align: center;
    }
    .MiddleColumn p {
        font-size: 3.8vmin; /* Slightly smaller to fit better on mobile */
        width: 96%;
        text-align: center;        
    }
    .CardButton {
        width: 100%; /* Width adjusted to be responsive */
        padding: 12px 16px; /* Adjusted padding for mobile */
        font-size: 16px; /* Slightly smaller font size */
    }

    .SocialMedia {
        /* display: flex; */
        justify-content: start;
        gap: 8px; /* Adjusted gap for smaller icons */
        width: 20px;
        height: 20%;
    }

    .ThinLine {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 1px;
        /* z-index: 1; */
        width: 40%;
        padding: 0%;
        text-align: start;
        margin-top: 15%; /* Adjusted margin */
    }
    .ThinLine h1{
        display: none;
    }
    .ThinLine h2 {
        font-size: 10px;  
    }
    .WorkTogether {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* margin-top: 18px; */
        display: flex;
        justify-content: bottom;
        align-items: bottom;
        bottom: 0px;
    }
    .FooterHeading{
        width: 100%;
        height: 100%;
        bottom: 0;
    }
}


@media only screen and (max-width: 768px) {
    .main{
        gap: 60px;
    }
    .navbar{
        position: fixed;
        top: 0;
    }
    .navMenu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        padding: 20px;
        gap: 15px;
        background-color: #0F0F0F;
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .navMenu hr{
        /* display: block; */
        color: #A2FF86;
        width: 100%;
    }
    ul{
        gap: 0px;
    }

    li{
        font-size: 15px;
        text-align: left;
        margin-bottom: -2px;
    }

    .DevskiLogo{
        margin-left: 0px;
        width: 80px ;
    }

    .navMenu.active {
        left: -140px;
    }
    .home,.services, .projects, .about, .contact{
        border-radius: 1.5rem;
    }
    .about{
        background-color: transparent;
        color: #A2FF86;
    }
    .home:hover, .projects:hover, .services:hover, .contact:hover{
        color: #A2FF86;
        transition: 0.3s ease-in-out;
    }

    .contact{
        margin-bottom: 20px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .teamText{
        height: 30vh;
        align-items: center;
        gap: 8px;
    }
    .teamText h1{
        font-size: 3.8vmax;
        padding: 0px;
        margin-left: 0px;
        width: 100%;
        line-height: 36px;
    }
    .teamText h2{
        font-size: 2vmax;
    }
    .teamText hr{
        width: 38%;
        margin-left: 0%;
        margin-top: 20px;
    }
    .pictureRow1, .pictureRow2{
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        gap: 90px;
    }
    .pictureRow2{
        margin-top: 8px;
    }
    .Maryam{
        width: 100%;
    }
    .Maryam h1{
        font-size: 4vmax;
    }
    .Maryam h2{
        font-size: 3vmax;
    }
    .saudPic{
        height: 375px;
    }
    .maryamPic{
        height: 375px;
    }
    .usaidPic{
        height: 375px;
    }
    
    .FooterMain{
        margin-top: 50px;
    }
    .socialbtn{
        height: 70px;
    }
    .socialAccounts{
        margin-top: 75%;
    }
}